body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.calculator {
  margin: auto;
  height: 505px;
  width: 400px;
  background-color: #555;
  border: solid;
}


.output-screen {
  width: 395px;
  height: 100px;
  line-height: 130px;
  background-color: #34495E;
  font-size: 45px;
  font-weight: 400;
  color: white;
  border: 3px solid rgba(0, 0, 0, 0.8);
  flex-shrink: 3

}

.keypad {
  height: 400px;
  width: 400px;
  display: grid;
  grid-gap: 5px;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto auto;
}

.keypad-num {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: black;
}

.keypad-num:hover {background-color: #A9A9A9}

.keypad-num:active {
  background-color: #A9A9A9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.keypad-button {
  background-color: #df9421;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: black;
}


.keypad-button:hover {background-color: #e68a00}

.keypad-button:active {
  background-color: #cc7a00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}